.nav1{
    background-color: #7C20BE;

    ;
}
.text1-purple{
    color: #7C20BE;
}
@media(min-width:992px){
    .me-auto{
        width: 100%;
        margin-left: 50%;
        /* align-items: center; */

    }
}